<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.john.history.mykotlindemo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".coroutine.CoroutineActivity"></activity>
        <activity android:name=".viewmodel.ViewModelActivity"></activity>
        <activity android:name=".id.IDActivity"></activity>
        <activity android:name=".fragmentest.FragmentLifeCycleActivity" />
        <activity android:name=".uitest.editviewtest.EditerViewActivity" />
        <activity
                android:name=".uitest.NavActivity"
                android:label="@string/title_activity_nav" />
        <activity android:name=".uitest.UiDemoActivity" />
        <activity
                android:name=".uitest.FullscreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_fullscreen"
                android:theme="@style/FullscreenTheme"></activity>
        <activity
                android:name=".databindingtest.DatabindingActivity"
                android:label="DatabindingActivity" />
        <activity
                android:name=".fragmentest.FragmentestActivity"
                android:label="FragmentestActivity" />
        <activity
                android:name=".recycleviewtest.RecycleViewActivity"
                android:label="RecycleViewActivity" />
        <activity android:name=".livedatatest.MediatorLiveDataActivity" />
        <activity
                android:name=".launchmodetest.ActivityA"
                android:label="AAA_ActivityA" />
        <activity
                android:name=".launchmodetest.LaunchModeActivityMain"
                android:label="AAA_ActivityMain" />
        <activity android:name=".livedatatest.LiveDataTestActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>